extends layout

block content
	form(action="#{secretURL}/on", method="post")
		button#onSwitch.greenBtn Turn light on
	form(action="#{secretURL}/off", method="post")
		button#offSwitch.redBtn Turn light off