extends layout

block content
  //button#onSwitch.greenBtn Turn light on
  //button#offSwitch.redBtn Turn light off
  button#buzzHigh.greenBtn Buzz high
  button#buzzLow.greenBtn Buzz low
  button#buzzRand.greenBtn Buzz random
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='javascripts/index.js')
