extends layout

block content
  button#onSwitch.greenBtn Turn light on
  button#offSwitch.redBtn Turn light off
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='javascripts/index.js')
